In [31]:
import pandas as pd
from pymongo import MongoClient
import os

In [32]:
df1 = pd.read_csv('/Users/spkunwar/Desktop/project1/Thermophysical-Property-Melting-Point/melting-point/test.csv')
df2 = pd.read_csv('/Users/spkunwar/Desktop/project1/Thermophysical-Property-Melting-Point/melting-point/train.csv')
print(df1.head())
print(df2.head())

     id               SMILES  Group 1  Group 2  Group 3  Group 4  Group 5  \
0  1022  CCOC(=O)c1ccc(O)cc1        1        1        0        0        0
1  1146   CCCCCCc1ccc(O)cc1O        1        4        0        0        0
2    79                ClCBr        0        0        0        0        0
3  2279          C=CCCCCCCCC        1        7        0        0        1
4  1342  Fc1ccc(cc1)C(F)(F)F        0        0        0        0        0

   Group 6  Group 7  Group 8  ...  Group 415  Group 416  Group 417  Group 418  \
0        0        0        0  ...          0          0          0          0
1        0        0        0  ...          0          0          0          0
2        0        0        0  ...          0          0          0          0
3        0        0        0  ...          0          0          0          0
4        0        0        0  ...          0          0          0          0

   Group 419  Group 420  Group 421  Group 422  Group 423  Group 424
0          0          0          0          0          0          0
1          0          0          0          0          0          0
2          0          0          0          0          0          0
3          0          0          0          0          0          0
4          0          0          0          0          0          0

[5 rows x 426 columns]
     id                       SMILES      Tm  Group 1  Group 2  Group 3  \
0  2175        FC1=C(F)C(F)(F)C1(F)F  213.15        0        0        0
1  1222  c1ccc2c(c1)ccc3Nc4ccccc4c23  407.15        0        0        0
2  2994          CCN1C(C)=Nc2ccccc12  324.15        2        1        0
3  1704                   CC#CC(=O)O  351.15        1        0        0
4  2526                    CCCCC(S)C  126.15        2        3        0

   Group 4  Group 5  Group 6  Group 7  ...  Group 415  Group 416  Group 417  \
0        0        0        0        0  ...          0          0          0
1        0        0        0        0  ...          0          0          0
2        0        0        0        0  ...          0          0          0
3        0        0        0        0  ...          0          0          0
4        0        0        0        0  ...          0          0          0

   Group 418  Group 419  Group 420  Group 421  Group 422  Group 423  Group 424
0          0          0          0          0          0          0          0
1          0          0          0          0          0          0          0
2          0          0          0          0          0          0          0
3          0          0          0          0          0          0          0
4          0          0          0          0          0          0          0

[5 rows x 427 columns]

In [34]:
from dotenv import load_dotenv


load_dotenv()

False

In [ ]:
data1 = df1.to_dict(orient='records')
data2 = df2.to_dict(orient='records')

connection_uri = os.getenv('MONGODB_URI')

if not connection_uri:
    raise ValueError("Mongobd not found in env")

client = MongoClient(connection_uri) #connect to mongodb
db = client[os.getenv('DB_NAME')]
collection = db[os.getenv('COLLECTION_NAME')]

ValueError: Mongobd not found in e

In [ ]:
#Uploading data to MongoDB
rec = collection_name.(data1,data2)

AttributeError: 'NoneType' object has no attribute 'insert_many'